.root {
    -fx-background-color: #d3d3d3;
}
#kopfPane {
    -fx-background-color: #003366;
}
#seitenPane{
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 4;
}
#verwaltungPane {
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 4;
}
#statistikenPane{
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 4;
}
.button {
    -fx-background-color: #F6B400;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 6px;
    -fx-padding: 8px 16px;
    -fx-border-width: 0;
    -fx-border-radius: 6px;
}

.button:hover {
    -fx-background-color: #e49f00;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #c78600;
}
#abbrechen:hover{
    -fx-background-color: #f66700;
}
#abbrechen:pressed{
    -fx-background-color: #f64200;
}